:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* body {
  background-image: url('assets/african-buffalo-resting-ground_3840x2160.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} */

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

samp {
  font-size: 13px;
  border: solid 2px maroon;
  background-color: beige;
  display: block;
  font-family: monospace;
  white-space: pre-wrap;
  color: black;
  padding: 5px;
  text-align: left;
}